# Exercise 1

Take the `titanic` dataset and use all attributes to predict the class `Survived` with a Decision tree classifier. (convert age and fare into classes ; exclude names from the attribute list)

In [1]:
import pandas as pd

pd.set_option('display.max_colwidth', None)
titanic = pd.read_csv('../Data/titanic.csv.zst', index_col='Name')

titanic['Age Group'] = pd.qcut(x=titanic['Age'], q=4)
titanic['Fare Group'] = pd.qcut(x=titanic['Fare'], q=4)

titanic.head(5)

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,Age Group,Fare Group
Name,,,,,,,,,
Mr. Owen Harris Braund,0,3,male,22.0,1,0,7.2500,"(20.25, 28.0]","(-0.001, 7.925]"
Mrs. John Bradley (Florence Briggs Thayer) Cumings,1,1,female,38.0,1,0,71.2833,"(28.0, 38.0]","(31.138, 512.329]"
Miss. Laina Heikkinen,1,3,female,26.0,0,0,7.9250,"(20.25, 28.0]","(-0.001, 7.925]"
Mrs. Jacques Heath (Lily May Peel) Futrelle,1,1,female,35.0,1,0,53.1000,"(28.0, 38.0]","(31.138, 512.329]"
Mr. William Henry Allen,0,3,male,35.0,0,0,8.0500,"(28.0, 38.0]","(7.925, 14.454]"

In [2]:
titanic.describe(include='all')

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,Age Group,Fare Group
count,887.000000,887.000000,887,887.000000,887.000000,887.000000,887.00000,887,887
unique,NaN,NaN,2,NaN,NaN,NaN,NaN,4,4
top,NaN,NaN,male,NaN,NaN,NaN,NaN,"(20.25, 28.0]","(-0.001, 7.925]"
freq,NaN,NaN,573,NaN,NaN,NaN,NaN,243,238
mean,0.385569,2.305524,NaN,29.471443,0.525366,0.383315,32.30542,NaN,NaN
std,0.487004,0.836662,NaN,14.121908,1.104669,0.807466,49.78204,NaN,NaN
min,0.000000,1.000000,NaN,0.420000,0.000000,0.000000,0.00000,NaN,NaN
25%,0.000000,2.000000,NaN,20.250000,0.000000,0.000000,7.92500,NaN,NaN
50%,0.000000,3.000000,NaN,28.000000,0.000000,0.000000,14.45420,NaN,NaN
75%,1.000000,3.000000,NaN,38.000000,1.000000,0.000000,31.13750,NaN,NaN
max,1.000000,3.000000,NaN,80.000000,8.000000,6.000000,512.32920,NaN,NaN

Some preliminary definitions to use later.

In [3]:
all_features = ['Pclass', 'Sex', 'Siblings/Spouses Aboard', 'Parents/Children Aboard', 'Age Group', 'Fare Group']
max_depth = len(all_features) + 1

In [4]:
from sklearn import preprocessing

for col in ['Sex', 'Age Group', 'Fare Group']:
    le = preprocessing.LabelEncoder()
    titanic[col] = le.fit_transform(titanic[col])

titanic.head(5)

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,Age Group,Fare Group
Name,,,,,,,,,
Mr. Owen Harris Braund,0,3,1,22.0,1,0,7.2500,1,0
Mrs. John Bradley (Florence Briggs Thayer) Cumings,1,1,0,38.0,1,0,71.2833,2,3
Miss. Laina Heikkinen,1,3,0,26.0,0,0,7.9250,1,0
Mrs. Jacques Heath (Lily May Peel) Futrelle,1,1,0,35.0,1,0,53.1000,2,3
Mr. William Henry Allen,0,3,1,35.0,0,0,8.0500,2,1

In [5]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier


def dt_accuracy(depth: int):
    X = titanic[all_features]
    y = titanic['Survived']

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=224)

    dt = DecisionTreeClassifier(max_depth=depth)
    dt.fit(X_train, y_train)

    y_pred = dt.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)

    return accuracy

## Find the best tree depth for the model

In [6]:
accuracies = pd.DataFrame(
    map(lambda d: [d, dt_accuracy(d)], range(1, max_depth)),
    columns=['Decision Tree Depth', 'Accuracy'],
).sort_values(by='Accuracy', ascending=False)

accuracies

   Decision Tree Depth  Accuracy
4                    5  0.846847
5                    6  0.846847
3                    4  0.833333
2                    3  0.824324
0                    1  0.819820
1                    2  0.819820