# Exercise 1

In the folder “Data” you have access to the dataset Titanic.csv presenting information about travellers with their status (survived=1 (yes) or =0 (no)).
In addition, you have the information about the class (Pclass), name (Name), gender (Sex),
age (Age), sibling or spouse on board (1/0), parents or children aboard (1/0), and fare price (Fare).

In [1]:
import pandas as pd

pd.set_option('display.max_colwidth', None)
titanic = pd.read_csv('../Data/titanic.csv.zst', index_col='Name')

titanic['Sex'] = (titanic['Sex'].to_numpy() == 'male').astype(int)
titanic.head(5)

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
Name,,,,,,,
Mr. Owen Harris Braund,0,3,1,22.0,1,0,7.2500
Mrs. John Bradley (Florence Briggs Thayer) Cumings,1,1,0,38.0,1,0,71.2833
Miss. Laina Heikkinen,1,3,0,26.0,0,0,7.9250
Mrs. Jacques Heath (Lily May Peel) Futrelle,1,1,0,35.0,1,0,53.1000
Mr. William Henry Allen,0,3,1,35.0,0,0,8.0500

In [2]:
titanic.describe(include='all')

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
count,887.000000,887.000000,887.000000,887.000000,887.000000,887.000000,887.00000
mean,0.385569,2.305524,0.645998,29.471443,0.525366,0.383315,32.30542
std,0.487004,0.836662,0.478480,14.121908,1.104669,0.807466,49.78204
min,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.00000
25%,0.000000,2.000000,0.000000,20.250000,0.000000,0.000000,7.92500
50%,0.000000,3.000000,1.000000,28.000000,0.000000,0.000000,14.45420
75%,1.000000,3.000000,1.000000,38.000000,1.000000,0.000000,31.13750
max,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.32920

We create labels for data that is not numeric.

## (a) In the correlation visualization, select the two features that have the most significant correlation to the target feature, Survived.

In [3]:
correlation = titanic.corr()['Survived'].abs().sort_values(ascending=False)
del correlation['Survived']
correlation

Sex                        0.542152
Pclass                     0.336528
Fare                       0.256179
Parents/Children Aboard    0.080097
Age                        0.059665
Siblings/Spouses Aboard    0.037082
Name: Survived, dtype: float64

The two most correlating features are:

In [4]:
ms_features = list(correlation.index[0:2])
ms_features

['Sex', 'Pclass']

In [5]:
all_features = list(correlation.index)
all_features

['Sex',
 'Pclass',
 'Fare',
 'Parents/Children Aboard',
 'Age',
 'Siblings/Spouses Aboard']

## (b) Using Naive Bayes classifier and the most two significant features, predict the Survival of the travellers.

In [6]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB


def bayes_accuracy(X_idx):
    X = titanic[X_idx]
    y = titanic['Survived']

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25,
                                                        random_state=224)  # 224 makes the below accuracies the same

    clf = GaussianNB()
    clf.fit(X_train, y_train)

    y_pred = clf.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)

    return accuracy

In [7]:
ms_accuracies = pd.DataFrame(
    data=[[ms_features, bayes_accuracy(X_idx=ms_features)]],
    columns=['Features', 'Accuracy'],
)

print('Accuracy of the most correlated features:')
ms_accuracies

Accuracy of the most correlated features:

        Features  Accuracy
0  [Sex, Pclass]   0.81982

## (c) Compare the performance of your model when using all the attributes of the travellers.

In [8]:
all_accuracies = pd.DataFrame(
    data=[['All', bayes_accuracy(X_idx=all_features)]],
    columns=['Features', 'Accuracy'],
)

print('Accuracy of using all features:')
all_accuracies

Accuracy of using all features:

  Features  Accuracy
0      All  0.828829

Interestingly the above results are all the same value due to the chosen `random_state = 224`.
Changing this value makes the results more diverged.